<div *ngIf="isLoggedIn"><app-dashbordnav></app-dashbordnav></div>
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">{{appName}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="isLoggedIn" class="active"><a routerLink="">Accueil</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Se connecter</a></li>
      <li><a routerLink="/register" routerLinkActive="active">S'enregistrer</a></li>
      <li ><a routerLink="/about" routerLinkActive="active">About us</a></li>
    </ul>
  </div>
</nav>

