<div class="wrapper">
  <div class="sidebar" data-color="dark">

      <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


      <div class="sidebar-wrapper">
          <div class="logo">
              Admin Dashboard
          </div>

          <ul class="nav">
              <li class="active"><a routerLink="/dashbord">Dashbord</a></li>
              <li><a routerLink="/dashbord/addarticle">Ajouter Article</a></li>
              <li>
                  <a href="table.html">
                      <i class="pe-7s-note2"></i>
                      <p>Table List</p>
                  </a>
              </li>
              <li>
                  <a href="typography.html">
                      <i class="pe-7s-news-paper"></i>
                      <p>Typography</p>
                  </a>
              </li>
              <li>
                  <a href="icons.html">
                      <i class="pe-7s-science"></i>
                      <p>Icons</p>
                  </a>
              </li>
              <li>
                  <a href="maps.html">
                      <i class="pe-7s-map-marker"></i>
                      <p>Maps</p>
                  </a>
              </li>
              <li>
                  <a href="notifications.html">
                      <i class="pe-7s-bell"></i>
                      <p>Notifications</p>
                  </a>
              </li>
              <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
          </ul>
      </div>
  </div>
